<link rel="stylesheet" href="/css/main.css">
    <%- include('partials/header') %>
    <%- include('partials/nav') %>
    <%- include('partials/head') %>
    <h1><%= title %></h1>
    <h1>All about me!</h1>
    
    <img src="/images/katso.jpg" alt="Picture of Katrina">
    <p>Hello, my name is Katrina</p>
    <p>I am from Houston <span class="big-word"> Texas</span>, I grew up in small town Idaho so <span class="big-word" >Texas</span> is a huge adjustment</p>
    <p>My hobbies include: playing pickleball, running my kids around everywhere, and playing board games</p>

<%- include('partials/footer') %>
    
