<link rel="stylesheet" href="/css/main.css">
    <%- include('partials/header') %>
    <%- include('partials/nav') %>
    <%- include('partials/head') %>
    <h1><%= title %></h1>
    <h1>This is the home page</h1>
    
    <p>This is all the information about the home page.</p>

<%- include('partials/footer') %>
    
