
<link rel="stylesheet" href="/css/main.css">
    <%- include('partials/header') %>
    <%- include('partials/nav') %>
    <%- include('partials/head') %>
    <h1><%= title %></h1>
    <h1>This is the products page</h1>
    
    <p>New products coming soon!</p>

<%- include('partials/footer') %>
    
